@inherits Umbraco.Web.Mvc.UmbracoViewPage<Webapp.Models.RegisterModel>

<div class="container">
    <div class="form-container padding-bottom-50">
        <div class"form-content login-form">
            @{
                if(!Umbraco.MemberIsLoggedOn()){
                    using(Html.BeginUmbracoForm("SubmitRegistration","Member", System.Web.Mvc.FormMethod.Post, new {id ="register"}))
                    {
                        @Html.AntiForgeryToken()
                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new {placeholder = "Name"})

                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new{ placehoder = "Email"})

                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new{placeholder = "Password"})

                        @Html.ValidationSummary()
                        <button name="register" type="submit">Submit</button>
                    }
                }
                else
                {
                    
                }
            }
        </div>
    <div>
</div>