@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.GetInvolved>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
	var Voluntaries = (ContentModels.Voluntaries)Model.Root().Children().Where(x => x.IsDocumentType("Voluntaries")).FirstOrDefault();
}

<div class="pager-header">
            <div class="container">
                <div class="page-content">
                    <h2>Get Inoloved</h2>
                    <p>Help today because tomorrow you may be the one who <br>needs more helping!</p>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">get-involved</li>
                    </ol>
                </div>
            </div>
        </div><!-- /Page Header -->
<section class="team-section bg-grey bd-bottom circle shape padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>@Voluntaries.VoluntariesTitle</h2>
                    <span class="heading-border"></span>
                    <p>@Voluntaries.VoluntariesDetail</p>
                </div><!-- /Section Heading -->
                <div class="team-wrapper row">
                    <div class="col-lg-6 sm-padding">
                        <div class="team-wrap row">
                    @{
                    foreach(ContentModels.Voluntary item in Voluntaries.Children.Take(Convert.ToInt32(Voluntaries.NumberOfVoluntaries)))
                    {
                        
                            <div class="col-md-6">
                                <div class="team-details">
                                   <img src=@item.VoluntaryImage.Url() alt="team">
                                    <div class="hover">
                                        <h3>@item.VoluntaryTitle<span>@item.VoluntaryDescription</span></h3>
                                    </div>
                                </div>
                            </div><!-- /Team-1 -->
                            }}
                        </div>
                    </div>
                    <div class="col-lg-6 sm-padding">
                        <div class="team-content">
                            <h2>@Voluntaries.SubTitle</h2>
                            <h3>@Voluntaries.SubContent</h3>
                            <p>@Voluntaries.SubDetail</p>
                            <ul class="check-list">
                        @{
                            foreach(ContentModels.Voluntary item in Voluntaries.Children.Take(Convert.ToInt32(Voluntaries.NumberOfVoluntaries)))
                            {
                                if (@item.VoluntaryChecklist != "")
                                {
                                    <li><i class="fa fa-check"></i>@item.VoluntaryChecklist</li>
                                }
                            }
                        }
                            </ul>
                            <a href="#" class="default-btn">Join With Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Team Section -->

    <section class="volunteer-form-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="volunteer-form">
              <div class="section-title">
                <h2 class="title">If You Interest! You Can Join With Us <span>As A Volunteer.</span></h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since 1500 an when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries but electronic typesetting, remaining essentially unchanged.</p>
              </div>
              <div class="col-md-8 xs-padding">
                            @Model.Value("placeholder")
                    </div>
            </div>
            <!-- Message Notification -->
            <div class="form-message"></div>
          </div>
        </div>
      </div>
    </section>