@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Layout.cshtml";
	var mission = (ContentModels.Home) Model.Root();
	var content = mission.Mission;
	var Campaigns = (ContentModels.Campaigns)Model.Root().Children().Where(x => x.IsDocumentType("Campaigns")).FirstOrDefault();
	var Banners = (ContentModels.Banners)Model.Root().Children().Where(x => x.IsDocumentType("Banners")).FirstOrDefault();
	var Promotions = (ContentModels.Promotions)Model.Root().Children().Where(x => x.IsDocumentType("Promotions")).FirstOrDefault();
	var Voluntaries = (ContentModels.Voluntaries)Model.Root().Children().Where(x => x.IsDocumentType("Voluntaries")).FirstOrDefault();
	var Events = (ContentModels.Events)Model.Root().Children().Where(x => x.IsDocumentType("Events")).FirstOrDefault();
	var Peoples = (ContentModels.Peoples)Model.Root().Children().Where(x => x.IsDocumentType("Peoples")).FirstOrDefault();
	var Blogs = (ContentModels.Blogs)Model.Root().Children().Where(x => x.IsDocumentType("BLogs")).FirstOrDefault();
	var Moneys = (ContentModels.Moneys)Model.Root().Children().Where(x => x.IsDocumentType("Moneys")).FirstOrDefault();
	var Activities = (ContentModels.Activities)Model.Root().Children().Where(x => x.IsDocumentType("Activities")).FirstOrDefault();
	var Objectives = (ContentModels.Objectives)Model.Root().Children().Where(x => x.IsDocumentType("Objectives")).FirstOrDefault();
}
<!--==============================Content=================================-->
<section class="slider-section">
            <div class="slider-wrapper">
                <div id="main-slider" class="nivoSlider">
                 @{
                     foreach(ContentModels.Banner item in Banners.Children.Take(Convert.ToInt32(Banners.NumberOfBanners)))
					{ 
                        <img src=@item.SliderImage.Url() alt="" title="#slider-caption-1"/>
                    }
				}
                </div><!-- /#main-slider -->
                @{
                    foreach(ContentModels.Banner item in Banners.Children.Take(Convert.ToInt32(Banners.NumberOfBanners)))
				    {
                <div id="slider-caption-1" class="nivo-html-caption slider-caption">
                    <div class="display-table">
                        <div class="table-cell">
                            <div class="container">
                               <div class="slider-text">
                                   <h5 class="wow cssanimation fadeInBottom">@item.SliderTitle</h5>
                                   <h1 class="wow cssanimation leFadeInRight sequence">@item.SliderContent</h1>
                                    <p class="wow cssanimation fadeInTop" data-wow-delay="1s">@item.SliderDetail</p>
                                    <a href="#" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Join With Us</a>
                                    <a href="#" class="default-btn wow cssanimation fadeInBottom" data-wow-delay="0.8s">Donet Now</a>
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
                    }
               }<!-- /#slider -->
            </div>
 </section><!-- /#slider-Section -->

		<section class="promo-section bd-bottom">
            <div class="promo-wrap">
               <div class="container">
                    <div class="row">
                @{
                    foreach(ContentModels.Promotion item in Promotions.Children.Take(Convert.ToInt32(Promotions.NumberOfPromotions)))
                    {
                        <div class="col-md-4 col-sm-6 xs-padding">
                            <div class="promo-content">
                                <img src=@item.PromotionImage.Url() alt="prmo icon">
                                <h3>@item.PromotionTitle</h3>
                                <p>@item.PromotionContent</p>
                                <a href="#">Read More</a>
                            </div>
                        </div>
                    }
                }
                    </div>
                </div>
            </div>
        </section><!-- /Promo Section -->

		<section class="causes-section bg-grey bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>@Activities.ActivitiesTitle</h2>
                    <span class="heading-border"></span>
                    <p>@Activities.ActivityContent</p>
                </div><!-- /Section Heading -->
                <div class="causes-wrap row">
                    @{
                    foreach(ContentModels.Activity item in Activities.Children.Take(Convert.ToInt32(Activities.NumberOfActivities)))
                    {
                    <div class="col-md-4 xs-padding">
                        <div class="causes-content">
                           <div class="causes-thumb">
                                <img src=@item.ActivityImage.Url() alt="causes">
                                <a href="#" class="donate-btn">Donate Now<i class="ti-plus"></i></a>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="wow cssanimation fadeInLeft">@item.ActivityProgress%</span></div>
                                </div>
                           </div>
                            <div class="causes-details">
                                <h3>@item.ActivityTitle</h3>
                                <p>@item.ActivityContent</p>
                                <div class="donation-box">
                                    <p><i class="ti-bar-chart"></i>@item.ActivityGoal</p>
                                    <p><i class="ti-thumb-up"></i>@item.ActivityRaised</p>
                                </div>
                                <a href="#" class="read-more">Read More</a>
                            </div>
                        </div>
                    </div><!-- /Causes -->
                    }}
                </div>
            </div>
        </section><!-- /Causes Section -->

        <section class="about-section bd-bottom shape circle padding">
            <div class="container">
                <div class="row">
                   <div class="col-md-4 xs-padding">
                        <div class="profile-wrap">
                            <img class="profile" src=@Objectives.ObjectivesImage.Url() alt="profile">
                            <h3>@Objectives.ObjectivesTitle <span>@Objectives.ObjectivesDetail</span></h3>
                            <p>@Objectives.ObjectivesContent</p>
                            <img src=@Objectives.ObjectivesSign.Url() alt="sign">
                        </div>
                    </div>
                    <div class="col-md-8 xs-padding">
                        <div class="about-wrap row">
                        @{
                    foreach(ContentModels.Objective item in Objectives.Children.Take(Convert.ToInt32(Objectives.NumberOfObjectives)))
                    {
                            <div class="col-md-6 xs-padding">
                                <img src=@item.ObjectiveImage.Url() alt="about-thumb">
                                <h3>@item.ObjectiveTitle</h3>
                                <p>@item.ObjectiveContent</p>
                                <a href="#" class="default-btn">Read More</a>
                            </div>
                            }}
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Causes Section -->

        <section class="campaigns-section bd-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 xs-padding">
                        <div class="campaigns-wrap">
                            <h4>Featured Campaigns</h4>
                            <h2>@Activities.FeatureTitle</h2>
                            <p>@Activities.FeatureContent</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="wow cssanimation fadeInLeft">@Activities.FeatureProgress%</span></div>
                            </div>
                            <div class="donation-box">
                                <h3><i class="ti-bar-chart"></i>@Activities.FeatureGoal</h3>
                                <h3><i class="ti-thumb-up"></i>@Activities.FeatureRaised</h3>
                            </div>
                            <a href="#" class="default-btn">Donate Now</a>
                        </div>
                    </div>
                    <div class="col-md-6 xs-padding">
                        <div class="video-wrap">
                            <img src=@Activities.FeatureImage alt="video">
                            <div class="play">
                                <a class="img-popup" data-autoplay="true" data-vbtype="video" href=@Activities.FeatureMedia><i class="ti-control-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Featured Campaigns Section -->

        <section class="team-section bg-grey bd-bottom circle shape padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>@Voluntaries.VoluntariesTitle</h2>
                    <span class="heading-border"></span>
                    <p>@Voluntaries.VoluntariesDetail</p>
                </div><!-- /Section Heading -->
                <div class="team-wrapper row">
                    <div class="col-lg-6 sm-padding">
                        <div class="team-wrap row">
                    @{
                    foreach(ContentModels.Voluntary item in Voluntaries.Children.Take(Convert.ToInt32(Voluntaries.NumberOfVoluntaries)))
                    {
                        
                            <div class="col-md-6">
                                <div class="team-details">
                                   <img src=@item.VoluntaryImage.Url() alt="team">
                                    <div class="hover">
                                        <h3>@item.VoluntaryTitle<span>@item.VoluntaryDescription</span></h3>
                                    </div>
                                </div>
                            </div><!-- /Team-1 -->
                            }}
                        </div>
                    </div>
                    <div class="col-lg-6 sm-padding">
                        <div class="team-content">
                            <h2>@Voluntaries.SubTitle</h2>
                            <h3>@Voluntaries.SubContent</h3>
                            <p>@Voluntaries.SubDetail</p>
                            <ul class="check-list">
                        @{
                            foreach(ContentModels.Voluntary item in Voluntaries.Children.Take(Convert.ToInt32(Voluntaries.NumberOfVoluntaries)))
                            {
                                if (@item.VoluntaryChecklist != "")
                                {
                                    <li><i class="fa fa-check"></i>@item.VoluntaryChecklist</li>
                                }
                            }
                        }
                            </ul>
                            <a href="#" class="default-btn">Join With Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Team Section -->

        <section id="counter" class="counter-section">
		    <div class="container">
                <ul class="row counters">
                @{
                     foreach(ContentModels.Money item in Moneys.Children.Take(Convert.ToInt32(Moneys.NumberOfMoneys)))
					{ 
                    <li class="col-md-3 col-sm-6 sm-padding">
                        <div class="counter-content">
                            <i class="ti-money"></i>
                            <h3 class="counter">@item.MoneyAmount</h3>
                            <h4 class="text-white">@item.MoneyTitle</h4>
                        </div>
                    </li>
                    }}
                </ul>
		    </div>
		</section><!-- Counter Section -->

        <section class="events-section bg-grey bd-bottom padding">
           <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>@Events.EventsTitle</h2>
                    <span class="heading-border"></span>
                    <p>@Events.EventsContent</p>
                </div><!-- /Section Heading -->
                <div id="event-carousel" class="events-wrap owl-Carousel">
                @{
                     foreach(ContentModels.Event item in Events.Children.Take(Convert.ToInt32(Events.NumberOfEvents)))
					{ 
                    <div class="events-item">
                        <div class="event-thumb">
                           <img src=@item.EventImage.Url() alt="events">
                        </div>
                        <div class="event-details">
                            <h3>@item.EventTitle</h3>
                            <div class="event-info">
                                <p><i class="ti-calendar"></i>@item.EventStart</p>
                                <p><i class="ti-location-pin"></i>@item.EventPlace</p>
                            </div>
                            <p>@item.EventContent</p>
                            <a href="#" class="default-btn">Read More</a>
                        </div>
                    </div><!-- Event -->
                    }}
                </div>
           </div>
        </section><!-- Events Section -->
        
        <section class="testimonial-section bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>@Peoples.PeoplesTitle</h2>
                    <span class="heading-border"></span>
                    <p>@Peoples.PeoplesContent</p>
                </div><!-- /Section Heading -->
                <div id="testimonial-carousel" class="testimonial-carousel owl-carousel">
                 @{
                     foreach(ContentModels.People item in Peoples.Children.Take(Convert.ToInt32(Peoples.NumberOfPeoples)))
					{ 
                    <div class="testimonial-item">
                        <p>@item.PeopleDetail</p>
                        <div class="testi-footer">
                           <img src=@item.PeopleImage.Url() alt="profile">
                            <h4>@item.PeopleName <span>@item.PeoplePosition</span></h4>
                        </div>
                    </div>
                    }}
                </div>
            </div>
        </section><!-- People Section -->
        
        <section class="blog-section bg-grey bd-bottom padding">
            <div class="container">
                <div class="section-heading text-center mb-40">
                    <h2>@Blogs.BlogsTitle</h2>
                    <span class="heading-border"></span>
                    <p>@Blogs.BlogContent</p>
                </div><!-- /Section Heading -->
                <div class="row">
                    <div class="col-lg-12 xs-padding">
                        <div class="blog-items grid-list row">
                        @{
                     foreach(ContentModels.Blog item in Blogs.Children.Take(Convert.ToInt32(Blogs.NumberOfBlogs)))
					{ 
                            <div class="col-md-4 padding-15">
                                <div class="blog-post">
                                    <img src=@item.BlogImage.Url() alt="blog post">
                                    <div class="blog-content">
                                        <span class="date"><i class="fa fa-clock-o"></i> @item.BlogDate</span>
                                        <h3><a href="#">@item.BlogTitle</a></h3>
                                        <p>@item.BlogContent</p>
                                        <a href="#" class="post-meta">Read More</a>
                                    </div>
                                </div>
                            </div><!-- Post -->
                            }}
                        </div>
                    </div><!-- Blog Posts -->
                </div>
            </div>
        </section><!-- Blog Section -->